files:
  "/etc/php.d/99-logging.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      log_errors = On
      error_log = /var/log/php-error.log

container_commands:
  01_set_permissions_on_app:
    command: "find /var/app/current -type d -exec chmod 755 {} \\; && find /var/app/current -type f -exec chmod 644 {} \\;"
    leader_only: true
  02_create_log_file:
    command: "touch /var/log/php-error.log && chmod 666 /var/log/php-error.log"
    ignoreErrors: true

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /
    display_errors: 'Off'
