container_commands:
  01_set_permissions_on_app:
    command: "find /var/app/current -type d -exec chmod 755 {} \\; && find /var/app/current -type f -exec chmod 644 {} \\;"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /
    display_errors: 'Off'
    log_errors: 'On'
    error_log: /var/log/php-error.log
  aws:elasticbeanstalk:command:
    ignoreerrors: true
